

<div class="ink-grid">

  <div class="column-group push-center">
    <div class = "all-50">
      <h2>WeatherApp</h2>
      <br>
      <form id = "search">  
        <label for="right-label" class="right inline">Enter Partial City Query</label>
        <input type="text" id="city" placeholder="..."><br>
        <input type="submit" id="submit" class = "ink-button">   
      </form>
      <div id = "content">
      </div>
      <!-- <button id ="Home"></button> -->
    </div>  
  </div>  
</div>
  
